<form class="simple-form">
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" ng-model="userName" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" ng-model="Password" placeholder="Enter Password">
    </div>
    <button class="btn btn-success" ng-click="login">Login</button>
</form>
