<div>
    <div class="jumbotron">
        <h1>Hi {{UserName}}!</h1>
        <div>
            <small>There are {{CloseUsers}} people near you</small>
        </div>
    </div>
    <div class="form-group">
        <label for="nearRadius">Near me radius</label>
        <div>
            <select id="nearRadius" class="form-control" ng-model="nearRadius">
                <option value="0.1">100 m</option>
                <option value="0.5">500 m</option>
                <option value="1">1 km</option>
                <option value="2">2 km</option>
                <option value="3">3 km</option>
                <option value="4">4 km</option>
                <option value="5">5 km</option>
            </select>
        </div>
        <div class="clearer"></div>
    </div>
    
    <div id="map_canvas" class="well">
        <ui-gmap-google-map center="map.center" zoom="map.zoom" events="map.events" >
            <ui-gmap-marker coords="marker.coords" idkey="marker.idKey">
            </ui-gmap-marker>
            <ui-gmap-circle ng-repeat="circle in circles track by circle.id" center="circle.centre"
                            radius="circle.radius"
                            fill="circle.fill"
                            stroke="circle.stroke" options="circle.options">
            </ui-gmap-circle>
        </ui-gmap-google-map>
    </div>
</div>
